body { background: #c4c840; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 44px; display: flex; }
.block-email-0 { color: #e9e0e2; font-size: 20px; margin-bottom: 5px; }
.block-auth-1 { color: #3f1781; font-size: 12px; margin-bottom: 5px; }
.block-helper-2 { color: #79eda5; font-size: 21px; margin-bottom: 5px; }
.block-product-3 { color: #ec786f; font-size: 20px; margin-bottom: 5px; }
.block-cluster-4 { color: #548f6c; font-size: 16px; margin-bottom: 5px; }
.block-cart-5 { color: #85881f; font-size: 19px; margin-bottom: 5px; }